body {
    font-family: Arial, sans-serif;
    margin: 20px;
}

form {
    width: 50%;
    margin: auto;
    border: 1px solid #ccc;
    padding: 20px;
    box-sizing: border-box;
}

h3 {
    text-align: center;
    margin-bottom: 20px;
}

hr {
    margin-bottom: 20px;
}

.form-container {
    display: grid;
    grid-template-columns: 150px 1fr;
    gap: 10px;
}

.form-group {
    display: contents;
}

.form-group label {
    display: flex;
    align-items: center;
}

.form-group input[type="text"],
.form-group input[type="email"],
.form-group select {
    width: 100%;
    padding: 5px;
    box-sizing: border-box;
}

.form-options {
    display: flex;
    gap: 10px;
    align-items: center;
}

.form-group input[type="radio"],
.form-group input[type="checkbox"] {
    margin-right: 5px;
}

.form-group:last-child {
    grid-column: span 2;
    text-align: center;
}

input[type="submit"], input[type="reset"] {
    width: 100px;
    padding: 10px;
    border: 1px solid #ccc;
    cursor: pointer;
    border-radius: 5px;
    margin: 5px;
    margin-left:350px ;
}

